# Pandas Basics

In [1]:
import pandas as pd
import numpy as np

In [2]:
list = ['a','b','c','d','e','f']
s = pd.Series(list)
print(s)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [3]:
print(s[1])
print(s[3])

b
d

In [4]:
print(s[:3])

0    a
1    b
2    c
dtype: object

In [9]:
df = pd.read_csv('dog.txt')
df.head

<bound method NDFrame.head of                 HUNDERASSE HUNDERASSENTYP_KURZ      HUNDERASSENTYP
0            Affenpinscher                   K        Kleinwüchsig
1                  Afghane                   I  Rassentypenliste I
2    Afghanischer Windhund                   I  Rassentypenliste I
3         Airedale Terrier                   I  Rassentypenliste I
4                Akita Inu                   I  Rassentypenliste I
..                     ...                 ...                 ...
356             Zwergpudel                   K        Kleinwüchsig
357     Zwergrauhaardackel                   K        Kleinwüchsig
358         Zwergschnauzer                   K        Kleinwüchsig
359             Zwergspitz                   K        Kleinwüchsig
360                  lunde                 NaN                 NaN

[361 rows x 3 columns]>

In [10]:
df['HUNDERASSENTYP']

0            Kleinwüchsig
1      Rassentypenliste I
2      Rassentypenliste I
3      Rassentypenliste I
4      Rassentypenliste I
              ...
356          Kleinwüchsig
357          Kleinwüchsig
358          Kleinwüchsig
359          Kleinwüchsig
360                   NaN
Name: HUNDERASSENTYP, Length: 361, dtype: object

In [11]:
df.dropna(inplace = True)

In [12]:
df

                HUNDERASSE HUNDERASSENTYP_KURZ      HUNDERASSENTYP
0            Affenpinscher                   K        Kleinwüchsig
1                  Afghane                   I  Rassentypenliste I
2    Afghanischer Windhund                   I  Rassentypenliste I
3         Airedale Terrier                   I  Rassentypenliste I
4                Akita Inu                   I  Rassentypenliste I
..                     ...                 ...                 ...
355          Zwergpinscher                   K        Kleinwüchsig
356             Zwergpudel                   K        Kleinwüchsig
357     Zwergrauhaardackel                   K        Kleinwüchsig
358         Zwergschnauzer                   K        Kleinwüchsig
359             Zwergspitz                   K        Kleinwüchsig

[345 rows x 3 columns]

In [14]:
list = ['I', 'am', 'studying', 'in', 'GITAM', 'Vizag']
df = pd.DataFrame(list)
print(df)

          0
0         I
1        am
2  studying
3        in
4     GITAM
5     Vizag

In [15]:
dataframe = {'Intro':['I', 'am', 'studying', 'in', 'GITAM', 'Vizag'],'Number':[1,2,3,4,5,6]}
df = pd.DataFrame(dataframe)
print(df)

      Intro  Number
0         I       1
1        am       2
2  studying       3
3        in       4
4     GITAM       5
5     Vizag       6

In [16]:
print(df[['Number', 'Intro']])

   Number     Intro
0       1         I
1       2        am
2       3  studying
3       4        in
4       5     GITAM
5       6     Vizag

In [17]:
df = pd.read_csv('dog.txt',index_col = 'HUNDERASSE')
df.head

<bound method NDFrame.head of                       HUNDERASSENTYP_KURZ      HUNDERASSENTYP
HUNDERASSE
Affenpinscher                           K        Kleinwüchsig
Afghane                                 I  Rassentypenliste I
Afghanischer Windhund                   I  Rassentypenliste I
Airedale Terrier                        I  Rassentypenliste I
Akita Inu                               I  Rassentypenliste I
...                                   ...                 ...
Zwergpudel                              K        Kleinwüchsig
Zwergrauhaardackel                      K        Kleinwüchsig
Zwergschnauzer                          K        Kleinwüchsig
Zwergspitz                              K        Kleinwüchsig
lunde                                 NaN                 NaN

[361 rows x 2 columns]>

In [18]:
d1 = df.loc['Afghanischer Windhund']

In [19]:

d2 = df.iloc[4]

In [20]:
print(d1)
print(d2)

HUNDERASSENTYP_KURZ                     I
HUNDERASSENTYP         Rassentypenliste I
Name: Afghanischer Windhund, dtype: object
HUNDERASSENTYP_KURZ                     I
HUNDERASSENTYP         Rassentypenliste I
Name: Akita Inu, dtype: object

In [21]:
df.fillna(0)
print(df)

                      HUNDERASSENTYP_KURZ      HUNDERASSENTYP
HUNDERASSE
Affenpinscher                           K        Kleinwüchsig
Afghane                                 I  Rassentypenliste I
Afghanischer Windhund                   I  Rassentypenliste I
Airedale Terrier                        I  Rassentypenliste I
Akita Inu                               I  Rassentypenliste I
...                                   ...                 ...
Zwergpudel                              K        Kleinwüchsig
Zwergrauhaardackel                      K        Kleinwüchsig
Zwergschnauzer                          K        Kleinwüchsig
Zwergspitz                              K        Kleinwüchsig
lunde                                 NaN                 NaN

[361 rows x 2 columns]